/*////////////////
Basic declarations
////////////////*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto+Slab:300,400');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    overflow-y: scroll;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-weight: 300;
    background: white !important;
    padding: 0 0 2rem 0;
}

h3 {
    font-family: 'Lato', sans-serif;
}

header h1 {
    font-weight: 400;
    padding: 0;
}

li {
    list-style: none;
}

li.link {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    transition: .4s all ease;
    font-weight: bold;
}

a:hover {
    color: #54bded;
}

.active {
    color: #54bded;
}

header {
    background: white;
}

.sidebar {
    background: white;
}

.main-container {
    /*background: #f6f6f6;*/
}

.hidden {
    display: none !important;
}

/*////////////////
Grid and page placement
////////////////*/

.page-width {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container,
.work {
    display: grid;
    width: 100%;
}

.grid-container {
    grid-template-columns: 30% 70%;
    grid-template-areas: "header header""nav main";
}

.work {
    grid-template-columns: 55% 45%;
    grid-template-areas: "title title""desc img";
}


.sidebar {
    grid-area: nav;
}

header {
    grid-area: header;
}

.main-container {
    grid-area: main;
}

.title {
    grid-area: title;
}

.img-container {
    grid-area: img;
}

.description {
    grid-area: desc;
}

/*///////////////////
global modifications
//////////////////*/

.work,
.about,
form {
    margin: 5px 0 30px 0;
}

.content-container h1 {
    font-size: 3rem;
    text-align: right;
}

li.link {
    font-size: 1.4rem;
}

.title {
    font-size: 2rem;
    margin: 15px 0;
    padding: 1rem 0 0.5rem 0;
}

.copyright {
    position: fixed;
    bottom: 10px;
}

.sidebar,
.main-container {
    margin-top: 100px;
}

header,
nav {
    position: fixed;
}

nav ul {
    margin: 10vh 0 20vh 0;
}

/*///////////////////
darken + work-show
//////////////////*/

.darken {
    background: rgba(0, 0, 0, .7);
    z-index: 50;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}

/*
#close {
    position: fixed;
    height: 50px;
    top: 100px;
    left:200px;
    cursor: pointer;
}
*/
.work-show {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 10vh;
    height: 80vh;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    z-index: 1000;
    padding: 50px 140px;
    overflow: scroll;
}

.work-show p {
    margin: 1rem 0;
}

.work-show-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    object-fit: cover;
}

.work-show div img {
    width: 100%;
    height: 100%;
}

/*
#close span{
    position: relative;
    display: block;
    height: 7px;
    top: 20px;
    width: 50px;
    background: #54bded;
}

#close .n1{
    transform: rotate(45deg) translate(4px);
}

#close .n2{
    transform: rotate(-45deg) translate(4px);
}
*/
/*///////////////////
        Work
//////////////////*/

header {
    height: 100px;
}

header h1 {
    line-height: 100px;
}

/*///////////////////
        Work
//////////////////*/

.works-container {
    display: block;
}

.work {
    cursor: pointer;
}

.description {
    padding: 0 1rem;
}

.work .img-container {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.work .img-container img {
    width: 100%;
 /* filter: grayscale(1); */
    transition: .4s all ease;
}

.work .img-container img:hover {
 /* filter: grayscale(0); */
}

/*///////////////////
        About
//////////////////*/

.about-container {
    display: none;
}

.about .img-container img {
    margin: 20px 0 0 0;
    width: 100%;
    filter: grayscale(1);
    transition: .4s all ease;
}

/*///////////////////
        Contact
//////////////////*/


.contact-container {
    display: none;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

form input {
    margin: 20px 0;
    padding: 10px 5px;
}

textarea {
    margin: 20px 0;
    padding: 10px 5px;
    height: 20vh;
    resize: vertical;
}


@media screen and (max-width:760px) {

    .work .img-container {
        margin: 20px 0;
    }

    header {
        width: 100%;
        z-index: 10;
        padding-left: 3px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    nav ul li.link {
        font-size: 1.3rem;
        padding-left: 3px; 
    }

    .social {
        display: none;
    }

    .work {
        grid-template-columns: 100%;
        grid-template-areas: "title""desc""img";
    }

    .work .description {
        text-align: right;
    }

    .main-container {
        padding-right: 3px;
    }

    .work-show {
        padding: 20px 10px;
        font-size: 1.2rem;
    }

    .work-show-content {
        height: auto;
    }

    .copyright {
        background: white;
        width: 100%;
        bottom: 0;
        height: 20px;
        line-height: 20px;
        z-index: 40;
        padding-left: 3px;
    }
    textarea {
        height: 10vh;
    }
}
