@import "tailwindcss";

a.anchor {
    display: hidden;
    position: relative;
    top: -20px;
    visibility: hidden;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationCTABackground 3s ease infinite;
  -moz-animation: AnimationCTABackground 3s ease infinite;
  animation: AnimationCTABackground 3s ease infinite;
}

@keyframes AnimationCTABackground {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}